.section {
    background-color: #fff;
    padding: 5px 0;
    margin: 10px
}

.section__header {
    margin: 0px;
    padding: 10px;
    border-bottom: 2px solid #eee;
    font-size: 20px;
}

.section__header--borderless{
    border-bottom: none;
}

.section__headerBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid #eee;
}

@media(max-width: 500px){
    .section__headerBox{
        display: flex;
        flex-direction: column;
    }
};