.form {
    padding: 10px 0;
}

.form__label {
    display: flex;
    justify-content: space-between;
}

.form__input {
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    font-size: 16px;
    border: 2px solid #eee;
}

.form__button {
    padding: 10px;
    margin: 10px;
    background-color: teal;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.form__button:hover {
    background-color: rgb(1, 141, 141);
    transform: scale(1.1);
}

.form__button:active {
    background-color: rgb(3, 170, 170);
}

@media (max-width: 500px) {
    .form__label {
        flex-wrap: wrap;
    }
    .form__button {
        flex-basis: 100%;
    }
}